.DS_Store
venv/
.venv/
test/
.idea/

log/*
!log/.gitkeep
data/*
!data/.gitkeep

conf/.env
.pyc
__pycache__/
.agents/
.cursorignore
.cursor
.claude/
openspec/
.venv_offline_test/
offline-packages/
docker-compose.yml
